build/bin/
frontend/dist/
wails.exe
windows/

vendor/
go.sum

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

frontend/dist/
.eslintcache

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

.idea/

.DS_Store
Thumbs.db

.env
*.local

bin/
torrc_blackmist
blackmist_tor_data

App.exe
App
frontend/dist
frontend/build/bin/

*.test
*.out
*.prof
go.work
go.sum